@import "../themes.css";

.gif-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 2%;
}

.gif-info {
  background-color: transparent;
  padding: 15px;
  border-top: 1px solid #e6e6e6;
  padding: 10px;
}

.gif-details img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
  overflow: hidden;
}

.details-content {
  position: relative;
  overflow: hidden;
}

.details-content img {
  max-width: 100%;
  max-height: 32vh;
  transition: transform 0.3s ease-in-out;
}

.details-content:hover img {
  transform: scale(1.03);
}

.gif-info p {
  margin: 0 0 10px;
  font-size: 1.3vw;
  line-height: 2;
  color: var(--details-text-color);
}

.gif-info p:first-child {
  font-size: 1.8vw;
  margin-top: 2%;
}

.gif-info p:last-child {
  margin-bottom: 0;
}