#upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 3%;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 30%;
  margin: 3% auto auto auto;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#upload-form input[type="file"] {
  display: none;
}

#upload-form label {
  font-size: 1.4vw;
  color: var(--details-text-color);
  cursor: pointer;
  padding: 10%;
}

#upload-form label:hover {
  opacity: 0.7;
}

.gif-upload-btn {
  padding: 2% 3%;
  background-color: #0d0d0d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 1.3vw;
}

.gif-upload-btn:active,
.active {
  top: 2px;
  left: 1px;
  box-shadow: none;
}