@import "themes.css";

/* Card container */

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 1% 5% 1%;
  padding: 1%;
  gap: 2%;
}

/* Card component */

.card-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.24) 8px 6px 6px 4px;
  padding: 2% 3%;
  margin-top: 2%;
  margin-left: 1%;
  font-size: 1.2vw;
  max-width: 16%;
  min-width: 16%;
  min-height: 20%;
  max-height: 20%;
  background-color: var(--card-bg);
}

.card-component img {
  margin-bottom: 5%;
  min-width: 100%;
  max-width: 100%;
  min-height: 55%;
  max-height: 55%;
}

.card-component p {
  margin: 0;
}

.card-component a {
  margin: 0;
  text-decoration: none;
  color: var(--card-text-color);
}

.card-component a {
  margin-top: 3%;
}

.card-component:hover {
  transform: scale(1.1);
  opacity: 1;
} 

#card-title {
  font-weight: 600;
  font-size: 1.5vw;
  margin-bottom: 5%;
}

#view-details {
  display: inline;
  font-size: 1vw;
  width: 75%;
  height: 15%;
  background-color: var(--btn-bg);
  padding: 4%;
  margin-top: 10%;
  color: var(--btn-text-color);
  border: 1px solid transparent;
  border-radius: 4%;
}

#view-details:hover {
  cursor: pointer;
  opacity: 0.90;
}

#view-details:active {
  opacity: 0.8;
  border: 1px inset rgba(32, 32, 32, 0.1);
}

#add-to-favorites {
  color: var(--card-text-color);
  border: none;
  background-color: transparent;
  margin-top: 5%;
  font-size: 1.5vw;
}

#add-to-favorites:hover {
  cursor: pointer;
  opacity: 0.9;
  color: rgb(247, 229, 67);
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

#add-to-favorites:active {
  opacity: 0.8;
}

#add-to-favorites:active {
  opacity: 0.8;
}