.dido-theme {
  /* Body variables */
  --body-bg: #fff;
  --body-animation: none;
  --body-text-color: #000;
  --body-bg-size: cover;
  --body-text-stroke: none;

  /* Button variables */
  --btn-bg: #007BFF;
  --btn-text-color: #fff;

  /* Card component variables */
  --border-color: #333;
  --card-bg: #fff;
  --card-text-color: #000;

  --glow-after: var(--btn-bg);

  --details-text-color: #000;
}

.vladi-theme {
  /* Body variables */
  /* --body-bg: linear-gradient(270deg, #252525 0%, #7c7b7b 50%, #252525 100%); -- previous gradient background */
  --body-bg: #252525; /* current background (no gradient) */
  --body-animation: glowing 100s infinite;
  --body-text-color: #fff;
  --body-bg-size: 200% 200%;
  --body-text-stroke: 0.3px rgb(64, 63, 63);

  /* Button variables */
  --btn-bg: #007BFF;
  --btn-text-color: #fff;

  /* Card component variables */
  --border-color: #333;
  --card-bg: #131313;
  --card-text-color: rgb(255, 252, 252);

  --glow-after: #111;

  --details-text-color: #000;
}